.task-list__container {
    margin-top: 50px;
}

.task__wrapper {
    width: 500px;
    background: var(--yellow);
    padding: 10px;
    display: flex;
    margin-bottom: 10px;    
}

.task__input,
.task__text {
    flex: 1;
    font-size: var(--fz-m);
}

.task__text_done {
    text-decoration: line-through;
}

.task__btn-group--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.task__icon { 
    font-size: var(--fz-m);
    color: var(--black);
    cursor: pointer;
}