.task-list__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.task__wrapper {
    width: 100%;
    background: var(--yellow);
    padding: 10px;
    display: flex;
    margin-bottom: 10px; 
    cursor: all-scroll;  
}

.task__input,
.task__text {
    flex: 1;
    font-size: var(--fz-m);
}

.task__text_done {
    text-decoration: line-through;
}

.task__btn-group--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.task__icon { 
    font-size: var(--fz-m);
    color: var(--black);
    cursor: pointer;
}

.task-list__container_active,
.task-list__container_complated {
    padding: 15px;
    flex: 1;
    height: fit-content;
}

.task-list__container_active {
    background: var(--green);
}

.task-list__container_complated {
    background: var(--white);
}
.task-list__container--title {
    color: var(--black);
    margin-bottom: 15px;
    font-size: var(--fz-l);
    text-align: center;
}